<head>
    <meta charset="utf-8">
    <style>
        body {
            max-width: 50em;
            margin: auto;
            padding: 1em;
            line-height: 1.5em;
            font-family: sans-serif;
        }
    </style>
    
</head>

<body onload="onLoad()">
    <h1>ipfsearch<sup>beta</sup></h1>

    <div id="app" style="visibility: hidden;">
        <div v-if="showmeta">
            <p>Start by entering a link to an index in the box below.</p>
            <form method="GET" action="">
            <input type="text" name="index" size="50" id="meta" placeholder="starts with http://, /ipfs/ or /ipns/"></input>
            <input type="submit" value="Load index metadata" />
            </form>
        </div>
        <span v-else-if="showsearchbox">
            <p></p>Loaded <i>"{{indexName}}"</i>, compiled by <i>"{{indexAuthor}}"</i></p>
            <input type='text' placeholder="search" id="searchbox"></input><button type="submit" onclick="searchTriggered()">Start search</button>
        </span>
        <p v-if="error">❌ {{error}}</p>

        <table v-if="resultsFound">
            <tr>
                <th v-for="(value,key) in results[0]">{{key}}</th>
            </tr>
            <tr v-for="result in results">
                <td v-for="(value) in result">{{value}}</td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="view.js"></script>
    <br>
    <hr>
    <h2>About</h2>

    <h3>What does ipfsearch do?</h3>
    <p>You can search through indexes that do not live on one server (are decentralized). <i>This is required on <a href="https://ipfs.io/">IPFS</a>, because there is no one server.</i> The searching and sorting is happening in your browser.</p>

    <h3>What indexes can I search through?</h3>
    <p>The reference index (maintained by me) is <b>Wikipedia article abstracts</b>: <code><a href="/?index=/ipns/wikipedia.ipfsearch.xyz">/ipns/wikipedia.ipfsearch.xyz</a></code> AKA <code><a href="/?index=/ipns/Qmdy6hkJWgsx4RQatotn48x1j57M3thSMSoKQQG6BpGPsa">/ipns/Qmdy6hkJWgsx4RQatotn48x1j57M3thSMSoKQQG6BpGPsa</a></code>.</p>
    <p>If you want to create your own index, the instructions on how to do it are <a href="https://github.com/tensojka/ipfsearch-index/">here</a>.</p>
    <p>One public index I've come across is the <b>The Pirate Bay Dump</b>, you can find it here: <code><a href="/?index=/ipns/12D3KooWPqVNa1w8ywjDjNo7o8SpvC6LHBBU96hMMcXpKteg2zMx">/ipns/12D3KooWPqVNa1w8ywjDjNo7o8SpvC6LHBBU96hMMcXpKteg2zMx</a></code>. Note that I have no control over the index. The author writes more about it on <a href="https://www.reddit.com/r/Piracy/comments/8i7fvi/i_have_put_the_tpb_dump_on_ipfsearch_a/">reddit</a>.</p>

    <h3>What advantages does it have over searching on the web?</h3>
    <p>Since there is no one server, there is also no one server that could be taken down. <b>It is impossible to take down an index after it is uploaded to IPFS.</b></p>

    <h3>How does it work?</h3>
    <p>Traditionally, when you search for something on the web, you send your query to a server. The server then (basically) takes your query, looks up the relevant documents in its index, ranks the results and sends the results back to you. This is how search works on Wikipedia, DuckDuckGo or Google.</p>

    <p>With IPFS, it is impossible to send your query to a server, because there is no single server. With ipfsearch, your browser first downloads a document that tells it, where it can find what part of the index. Then, it downloads the required parts of the index from IPFS and <i>does the lookup and ranking itself.</i></p>

    <h3>Why is it so slow?</h3>
    <p>Most of the delay is caused by IPFSs DHT being slow. The performance of ipfsearch is expected to rapidly improve once the <a href="https://github.com/ipfs/go-ipfs/issues/1396">IPFS DHT</a> gets <a href="https://github.com/libp2p/go-libp2p-kad-dht/issues/88">faster</a>.</p>

    <h3>Where can I find it later?</h3>
    <p>The newest usable version is always at <a href="http://ipfsearch.xyz">ipfsearch.xyz</a>, or <code>/ipns/ipfsearch.xyz</code>. In case the domain doesn't work, use <code>/ipns/QmSE8g9k5JS1vJ7y5znhSZikmybvdsm3yDj7sbKjPRqsJW</code>.</p>
    
    <h3>How can I access this if ipfsearch.xyz is down?</h3>
    <p>Download IPFS from <a href="https://ipfs.io/docs/install/">the official website</a>, start the daemon on your computer and dial http://localhost:8080/ipns/ipfsearch.xyz in a browser.</p>

    <h2>Source and license</h2>
    <p>You can find the source code of this at <a href="https://github.com/tensojka/ipfsearch-webapp">Github</a>. Issues and PRs are welcome there.</p>
    <p>The web part of ipfsearch is licensed under the GNU Affero GPL 3.</p>


<script src="bundle.js"></script>